<!DOCTYPE html>
<html>
  <head>
    <title>My Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Restart Game</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @defeat %>
      <div class="alert alert-error">
        <%=@defeat%> Play another round? 
        <a href="/game"><button class="btn">Yes</button></a>
        <a href="/"><button class="btn">No</button></a>
      </div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success">
        <%=@success%> Play another round?
        <a href="/game"><button class="btn">Yes</button></a>
        <a href="/"><button class="btn">No</button></a>
      </div>
    <% end %>
    <%if @info %>
      <div class="alert alert-info">
      <%=@info%> Play another round?</div>
      <a href="/game"><button class="btn">Yes</button></a>
      <a href="/"><button class="btn">No</button></a>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
