<h4><%= "Dealer has the following cards:" %></h4>
  <img src="images/cards/cover.jpg" class="img-polaroid" />
  <img src="images/cards/<%= session[:dealer_cards].last %>.jpg" class="img-polaroid" />

<h4><%= "#{session[:player_name]} has the following cards:" %></h4>
  <% session[:player_cards].each do |card| %>
    <img src="images/cards/<%= card %>.jpg" class="img-polaroid" />
  <% end %>
  <h5>The total is: <%= calculate_total(session[:player_cards]) %></h5>

  <form class="form-inline" method="post">
    <button type="submit" name="hit" class="btn">Hit</button>
    <button type="submit" name="stay" class="btn">Stay</button>
  </form>